.content {
    max-width:1200px ;
    margin: 0 auto;
}
.navbar {
    /*重写导航类*/
    position: relative;
    min-height: 50px;
     margin-bottom: 0;
    border: 1px solid transparent;
}
.desc {
  text-align: center;
}
.desc img {
    margin-top: 30px;
}

.case {
    text-align: center;
    margin-top: 40px;
}
table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    border: 1px solid #ddd;
}

th {
    width: 10%;
    border: 1px solid #ddd;
    line-height: 40px;
}
td {
    width: 20%;
    border: 1px solid #ddd;
    line-height: 40px;
    text-align: center
}

.phone-submit {
    text-align: center;
    margin-top: 100px;
}
.phone-submit h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.phone-submit img {
    position: relative;
    height: 195px;
    bottom: 100px;
}
.phone-submit .row {
    position: relative;
    z-index: 444;
}

@media screen and (max-width: 995px){
    .phone-submit img {
        display: none;
    }
}

.statement {
    text-align: center;
}
.statement p {
    font-size: 16px;
}
.contact {
    text-align: center;
}
.contact h2 {
    margin-top: 30px;
}